body {
    font-family: Arial, sans-serif;
  }
  
  #sidebar {
    float: left;
    width: 200px;
    height: 100vh;
    background-color: #B55E06;
    color: #DEBA95;
  }
  
  #main-content {
    margin-left: 200px;
  }
  
  button {
    border: none;
    background-color: #B55E06;
    color: #DEBA95;
    font-size: larger;
  }