body 
        {
            font-family: Arial, sans-serif;
        }

        #registration-form 
        {
            max-width: 500px;
            margin: auto;
        }

        input[type=text], input[type=email], input[type=password], select 
        {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 20px;
        }

        button 
        {
	        background-color : #fe9901; 
	        color : white;
	        padding: 10px;
	        border: none;
	        cursor: pointer;
        }

        h2 
        {
	        text-align: center;
        }

        #message 
        {
	        color: red;
	        text-align: center;
        }